* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #e9eaec;
}

.app {
    background: #fff;
    width: 90%;
    max-width: 600px;
    height: 500px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.app h1 {
    font-size: 25px;
    color: #0e0e0e;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 20px;
    text-align: center;
}

.quiz {
    padding: 20px 0;
}

.quiz h2 {
    font-size: 18px;
    color: #051835;
    font-weight: 600;
    margin-bottom: 20px;
}

.btn {
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #ef0d0d;
}

#next-btn, #prev-btn {
    background-color: #286e1b;
    color: #fff;
    width: 150px;
    border: none;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    text-align: center;
    display: none;
    font-weight: 500;
    transition: background 0.3s;
}

#next-btn {
    background-color: #286e1b;
}

#next-btn:hover {
    background-color: #248018;
}

#prev-btn {
    background-color: #1a8bae;
}

#prev-btn:hover {
    background-color: #187b97;
}

.correct {
    background: #9aeabc;
    color: #222;
    border-color: #9aeabc;
}

.incorrect {
    background: #d16868;
    color: #fff;
    border-color: #d16868;
}

#quiz {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(238, 211, 124);
    color: rgb(32, 85, 133);
    margin-top: 10px;
    padding: 15px;
    border-radius: 6px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}